<h1>Employees/show  An Employee</h1>

<h3><%= @employee.first_name %>
<%= @employee.last_name %></h3>
<p><%=  @employee.alias %></p>
<p><%=  @employee.title %></p>
<p><%=  @employee.office %></p>
<p><%=  @employee.img_url %></p>
<p><%=  @employee.dog_id %></p>