<h1>dogs/show  A Dog</h1>
<h3><%= @dog.name %></h3>
<p><%= @dog.breed %></p>
<p><%= @dog.age %></p>
<% @dog.employees.each do |employee|%>
    <p><%= employee.first_name%>
    <%= employee.last_name%></p>
<%end%>
